html, body {
 width: 100%;
 height: 100%;
 
}
 
body {
 background: #eee;
 margin: 0;
}
 
.wrapper {
 width: 320px;
 height: 220px;
 /* we center the button container horizontally and vertically */
 
 transform: translate(-50%, -50%);
}
 
.btn {
 display: block;
 width: 200px;
 height: 100px;
 background: #222;
 border-radius: 5px;
 color: #aaa;
 text-align: center;
 
 box-shadow:
   inset 0 0 50px #333,
   0 4px 0 black,
   0 2px 0 #222,
   0 2px 3px #333;
 text-shadow: 0 -1px 0 black;
 font: normal 30px/100px helvetica, arial, sans-serif;
 text-transform: uppercase;
 cursor: pointer;
 border-top: 1px solid #222;
}
 


.btn-init {
 display: block;
 width: 100px;
 height: 40px;
 background: #222;
 border-radius: 5px;
 color: #aaa;
 text-align: center;
 
 box-shadow:
   inset 0 0 50px #333,
   0 4px 0 black,
   0 2px 0 #222,
   0 2px 3px #333;
 text-shadow: 0 -1px 0 black;
 font: normal 20px/40px helvetica, arial, sans-serif;
 text-transform: uppercase;
 cursor: pointer;
 border-top: 1px solid #222;
}

.btn-start {

 display: block;
 width: 120px;
 height: 40px;
 background: #222;
 border-radius: 5px;
 color: #aaa;
 text-align: center;
 
 box-shadow:
   inset 0 0 50px #333,
   0 4px 0 black,
   0 2px 0 #222,
   0 2px 3px #333;
 text-shadow: 0 -1px 0 black;
 font: normal 20px/40px helvetica, arial, sans-serif;
 text-transform: uppercase;
 cursor: pointer;
 border-top: 1px solid #222;
}

.btn-stop {

 display: block;
 width: 150px;
 height: 40px;
 background: #222;
 border-radius: 5px;
 color: #aaa;
 text-align: center;
 box-shadow:
   inset 0 0 50px #333,
   0 4px 0 black,
   0 2px 0 #222,
   0 2px 3px #333;
 text-shadow: 0 -1px 0 black;
 font: normal 20px/40px helvetica, arial, sans-serif;
 text-transform: uppercase;
 cursor: pointer;
 border-top: 1px solid #222;
}

.btn.is-active {
 color: #888;
 background: green;
 box-shadow:
   inset 0 0 50px #333,
   0 0 3px #333;
 margin-top: 4px;
}

.btn.is-inactive {
 display: block;
 background: #222;
 border-radius: 5px;
 color: #aaa;
 text-align: center;
 box-shadow:
   inset 0 0 50px #333,
   0 4px 0 black,
   0 2px 0 #222,
   0 2px 3px #333;
 text-shadow: 0 -1px 0 black;
 font: normal 20px/40px helvetica, arial, sans-serif;
 text-transform: uppercase;
 cursor: pointer;
 border-top: 1px solid #222;
 margin-top: 0px;
}
